input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.content {
    font-size: 18px;
    font-weight: 500;
}

.fw-500 {
    font-weight: 500;
    color: black;

}

.yellow {
    background-color: rgba(245, 229, 27, 1);
    &:hover {
        background-color: rgba(247, 202, 24, 1);
    }
}

.space {
    justify-content: space-between;
}

.current-step {
    width: 32%;
    height: 15px;
    border-radius: 20px;
    background-color: #28a745;
    opacity: .3;
}

.opacity-false {
    opacity: 1;
}
